@media (max-width: 1220px) {
  .container {
    max-width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 991px) {
  .rm-header .rm-header-col .rm-toggle {
    display: block;
  }
  .rm-header .rm-header-col .rm-menulist {
    position: absolute;
    display: block;
    left: 0px;
    right: 0px;
    top: 50px;
    padding: 0px 15px;
    background-color: rgba(9, 10, 26, 0.9);
    padding-bottom: 15px;
  }
  .rm-header .rm-header-col .rm-menulist .rm-lets-talk {
    margin-left: 0px;
  }
  .rm-header .rm-header-col .rm-menulist ul li {
    display: block;
  }
  .rm-header .rm-header-col .rm-logo a img {
    width: 120px;
  }
  .rm-header {
    padding: 12px 0px;
  }
  .rm-header .rm-header-col .rm-menulist ul li a {
    padding: 10px 0px;
  }
  .rm-header .rm-header-col .rm-menulist .rm-lets-talk a {
    text-align: center;
  }
  .rm-header .rm-header-col .rm-menulist {
    display: none;
  }
  .rm-header .rm-header-col .rm-menulist.open {
    display: block;
  }
  body {
    padding-top: 58px;
  }
  .rm-main-slider .rm-content {
    order: 2;
  }
  .rm-main-slider .rm-icon {
    order: 1;
  }
  .rm-main-slider .rm-content::before {
    right: 0px;
  }
}
@media (max-width: 639px) {
  .rm-main-slider::before {
    height: 60px;
    width: 60px;
    border: 3px solid #1e4748;
    top: 20px;
    left: -30px;
  }
  .rm-main-slider .rm-icon svg {
    max-height: 520px;
  }
  .rm-main-slider .rm-icon .rm-doots svg {
    margin-top: 0px;
    width: 100%;
    opacity: 0.2;
    right: 0px;
    top: -350px;
  }
  .rm-main-slider .rm-content .rm-info h1 {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 8px;
  }
  .rm-main-slider .rm-content .rm-info p {
    font-size: 12px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .rm-main-slider .rm-content .rm-box svg {
    display: none;
  }
  .rm-main-slider .rm-content::before {
    display: none;
  }
  .rm-footer .rm-left ul {
    text-align: center;
    border-top: 1px solid #a9a9a9;
    padding-top: 30px;
  }
  .rm-footer .rm-right {
    text-align: center;
    margin-top: 10px;
  }
  .rm-footer {
    border-top: 1px solid #6d6d6d;
    padding: 15px 0px;
    margin-top: 10px;
  }
  .rm-footer .rm-left ul li a {
    height: 30px;
    width: 30px;
  }
  .rm-footer .rm-left ul li a svg {
    font-size: 13px;
  }
  .rm-footer .rm-right h6 {
    font-size: 12px;
    margin-top: 4px;
  }
  .rm-main-slider .rm-content .rm-info h5 {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .rm-main-slider .rm-content .rm-info ul li a {
    font-size: 12px;
    padding: 8px 20px;
  }
  .rm-aboutme .rm-progressbar {
    padding-left: 15px;
    padding-top: 20px;
  }
  .rm-client-logo ul {
    flex-wrap: wrap;
  }
  .rm-client-logo ul li a img {
    width: 100%;
  }

  .rm-services .rm-services-box:first-child,
  .rm-services .rm-services-box:last-child {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .rm-services .rm-services-box {
    padding: 20px;
  }
  .rm-services .rm-services-box svg {
    max-height: 52px;
    min-height: 52px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .rm-services .rm-services-box p {
    font-size: 12px;
    line-height: 22px;
  }
  .rm-work .container .tild {
    top: -30px;
    left: 20px;
  }
  .tild {
    max-width: 160px;
  }
  .rm-global-heading .rm-text-left h3,
  .rm-global-heading .rm-text-right h3 {
    font-size: 26px;
  }
  .rm-global-heading .rm-text-left h3 span,
  .rm-global-heading .rm-text-right h3 span {
    bottom: -27px;
  }
  .rm-testimonial .circle-layout {
    display: none;
  }
  .rm-main-slider .rajendra-photo {
    position: relative;
    right: auto;
    top: -45px;
    z-index: -1;
  }
  .rm-main-slider {
    padding: 155px 0px 25px 0px;
  }
  .rm-aboutme {
    padding: 15px 0px;
    padding-top: 10px;
  }
  .rm-global-heading {
    margin-bottom: 55px;
  }
  .rm-services {
    padding: 35px 0px;
  }
  .rm-global-view_all h6 {
    padding-bottom: 17px;
  }
  .rm-work .grid-item {
    width: calc(100% - 30px);
    margin-bottom: 0px;
  }
  .rm-work .card .card-body .card-title {
    font-size: 19px;
  }
  .rm-work .card .card-body .card-text {
    font-size: 14px;
  }
  .rm-testimonial .testimonial-content {
    margin-right: 0;
    padding: 30px;
    width: 100%;
    margin-left: 0px;
    border-radius: 8px;
  }
  .rm-testimonial .testimonial-content .play,
  .rm-testimonial .testimonial-content .rectangle {
    display: none;
  }
  .rm-contactus form {
    margin-top: 30px;
    padding-left: 0;
  }
  .rm-testimonial {
    padding: 45px 0px;
    padding-bottom: 20px;
  }
  .rm-contactus {
    padding: 35px 0px;
    padding-bottom: 13px;
  }
  .rm-contactus form .rm-bg {
    margin-top: 30px;
    padding: 9px 15px;
    font-size: 12px;
  }
  .rm-main-slider .rm-content .rm-info {
    margin-top: -320px;
  }
  .rm-client-logo ul li {
    width: 50%;
    padding: 8px 6px;
  }
  .rm-client-logo ul li a img {
    width: 72%;
  }
  .rm-client-logo ul li a {
    min-height: 66px;
  }
  .rm-main-slider .rm-content .rm-info p {
    color: #e7e7e7;
  }
  .rm-header .rm-header-col .rm-logo a svg {
    width: 110px;
  }
  .rm-testimonial .testimonial-content::after {
    display: none;
  }
  .rm-aboutme .rm-content h5 {
    font-size: 21px;
    min-height: 52px;
  }
  .rm-work .card img {
    opacity: 1;
  }
  .rm-aboutme .rm-content p {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 18px;
  }
  .rm-aboutme .rm-progressbar .rm-progressbar-single span {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .rm-aboutme
    .rm-progressbar
    .rm-progressbar-single
    .react-sweet-progress-symbol {
    top: -28px;
    right: 0px;
    font-size: 12px;
  }
  .rm-aboutme
    .rm-progressbar
    .rm-progressbar-single
    .react-sweet-progress-line-inner {
    min-height: 5px;
  }
  .rm-aboutme .rm-progressbar .rm-progressbar-single {
    margin-bottom: 20px;
  }
  .rm-services .rm-services-box h3 {
    font-size: 19px;
  }
  .rm-contactus form .form-control {
    font-size: 14px;
    margin-bottom: 15px;
    padding: 8px 0px;
    border-bottom: 1px solid #a9a9a9;
  }
  .rm-testimonial .testimonial-content p {
    font-size: 12px;
  }
  .rm-testimonial .testimonial-content span {
    font-size: 13px;
  }
  .rm-testimonial .testimonial-content h4 {
    font-size: 19px;
  }
  .rm-contactus form textarea {
    height: 107px !important;
  }
  .rm-footer {
    border: 0;
  }
  .details-page-header h1 {
    font-size: 30px;
  }
  .details-page-header {
    padding: 160px 0px 60px 0px;
  }
}
